
@keyframes hide-screenload{
  0%   {
    opacity: 1;
  }
  40%  {
    opacity: 0;
  }
  100%  {
    opacity: 0;
  }
}

@keyframes arrow-animation{
  0%   {
    margin-top: 0px;
  }
  50%  {
    margin-top: -24px;
  }
  100%  {
    margin-top: 0px;
  }
}

@keyframes splash-logo{
	0%   {
		margin-top: 0px;
	}
	50%  {
		margin-top: -24px;
	}
	100%  {
		margin-top: 0px;
	}
}

@keyframes animation-boy{
	0%   {
		margin-top: 0px;
	}
	50%  {
		margin-top: -10px;
	}
	100%  {
		margin-top: 0px;
	}
}

@keyframes btn-connect-scale{
  0%   {
    transform:scale(1);
  }
  50%  {
    transform:scale(1.05);
  }
  100%  {
    transform:scale(1);
  }
}


@keyframes manita-animation{
  0%   {
    transform: rotate(0deg);
  }
  40%  {
    transform: rotate(-45deg);
  }
  60%  {
    transform: rotate(0deg);
  }
  100%  {

  }
}


@keyframes repeat-animation{
  0%   {
    transform: rotate(0deg);
  }
  20%  {
    transform: rotate(-360deg);
  }
  80%  {
    transform: rotate(-360deg);
  }
  100%  {

  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.23);
  }
  10%, 100% {
    opacity: 1;
    transform: scale(3.33);
  }
  100%, 100% {
    opacity: 1;
    transform: scale(3.33);
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}


.sbl-circ-path {
  height: 72px;
  width: 72px;
  color: rgba(254, 254, 254, 0.2);
  position: relative;
  display: inline-block;
  border: 5px solid;
  border-radius: 50%;
  border-right-color: white;
  animation: rotate .6s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } 
}


@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}
 




