$primary_color: #0062B3;
$dark_color:#00070D;
$lighting-color: #E6E6E6;
$accent_color:#EFE800;
$text_lighting_blue: #4882B3;
$bar-progress-video_orange:#FA6400;

$grey-deactivate: #999999;
$grey-white:#e6e6e6b0;
