$azure : #F0FFFF;
$magenta : #8B008B;
$blue : #483D8B;
$pink : #FF1493;
$red : #B22222;
$orange: #FF4500;
$coral : #FF7F50;
$yellow : yellow;

.bg-azure{ background-color: $azure }
.bg-magenta{ background-color: $magenta }
.bg-blue{ background-color: $blue }
.bg-pink{ background-color: $pink }
.bg-red{ background-color: $red }
.bg-orange{ background-color: $orange }
.bg-coral{ background-color: $coral }
.bg-yellow{ background-color: $yellow }