//Animations
$pulse-animation-time: 1.5s;
$velocity-animation-button: 5s;

//Fonts
$g-semibol: 'Geogrotesque Semibold', sans-serif;
$g-medium-italic: 'Geogrotesque Medium Italic', sans-serif;
$g-medium: 'Geogrotesque Medium', sans-serif;
$g-bold: 'Geogrotesque Bold', sans-serif;
$g-regular: 'Geogrotesque Regular', sans-serif;
$g-regular-italica: 'Geogrotesque Regurlar Italica', sans-serif;

$arial-regular: Arial, Helvetica, sans-serif;

//Font Size
$text-small-splash-page:14px;
$title-how-work:32px;
$text-how-work:18px;
$title-sub-how-work:25px;
$title-sub-2-how-work:30px;
