@font-face {
    font-family: 'Geogrotesque Semibold';
    src: url('./fonts/Geogrotesque-SemiBold.woff2') format('woff2'),
        url('./fonts/Geogrotesque-SemiBold.woff') format('woff'),
        url('./fonts/Geogrotesque-SemiBold.svg#Geogrotesque-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Medium Italic';
    src: url('./fonts/Geogrotesque-MediumItalic.woff2') format('woff2'),
        url('./fonts/Geogrotesque-MediumItalic.woff') format('woff'),
        url('./fonts/Geogrotesque-MediumItalic.svg#Geogrotesque-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Medium';
    src: url('./fonts/Geogrotesque-Medium.woff2') format('woff2'),
        url('./fonts/Geogrotesque-Medium.woff') format('woff'),
        url('./fonts/Geogrotesque-Medium.svg#Geogrotesque-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Bold';
    src: url('./fonts/Geogrotesque-Bold.woff2') format('woff2'),
        url('./fonts/Geogrotesque-Bold.woff') format('woff'),
        url('./fonts/Geogrotesque-Bold.svg#Geogrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Regular';
    src: url('./fonts/Geogrotesque-Regular.woff2') format('woff2'),
        url('./fonts/Geogrotesque-Regular.woff') format('woff'),
        url('./fonts/Geogrotesque-Regular.svg#Geogrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Regurlar Italica';
    src: url('./fonts/Geogrotesque-RegularItalic.woff2') format('woff2'),
        url('./fonts/Geogrotesque-RegularItalic.woff') format('woff'),
        url('./fonts/Geogrotesque-RegularItalic.svg#Geogrotesque-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}